html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: sans-serif;
}
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #0080FF;
    background-color: transparent;
    text-decoration: underline;
}
image {
    display: block;
}